{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>This is a home page</h1>
    <form action="/contactprocesser" method="post" class="formcss">
        {% csrf_token %}
        Number 1 : <input type="text" name="txt1" required>
        Number 2 : <input type="text" name="txt2" required>
        <input type="submit"/>
    </form>
</body>
</html>